/*------------fonts-------------*/

/*-----локальні шрифти----*/
@import url("fonts.css");

/*------шрифти підключені з Google Fonts------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/*------шрифти підключені через плагін Google Fonts-----*/
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

/*style reset*/
@import url("reset.css");

.main__thanks {
   font-family: "Libre Baskerville", serif;
   max-width: 1200px;
   height: auto;
   padding: 0 10px;
}

.thanks__title {
   text-align: center;
   font-weight: 700;
   font-size: 40px;
   text-decoration: underline;
   text-decoration-color: chocolate;
   margin-bottom: 20px;
}

.thanks__paragraf {
   font-size: 20px;
   text-align: justify;
   line-height: 140%;
   /* 28px/20 */
   font-style: italic;
   font-weight: 400;
   margin-bottom: 30px;
}

.return {
   width: 100%;
   height: 500px;
}

.return__img>img {
   display: block;
   margin: 0 auto;
   margin-bottom: 15px;
   max-width: 100%;
}

.return__link>p {
   font-size: 46px;
   text-align: center;
   font-weight: 700;
   background: #121FCF;
   background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}