/*------------fonts-------------*/

/*-----локальні шрифти----*/
@import url("fonts.css");

/*------шрифти підключені з Google Fonts------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Exo:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:500&display=swap");
/*------шрифти підключені через плагін Google Fonts-----*/
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");


@import url("https://fonts.googleapis.com/css?family=Quicksand:regular,500,600,700&display=swap");
/*style reset*/
@import url("reset.css");

/*--for smooth scroll--*/
html {
   scroll-behavior: smooth;
}

/*main styles*/
body {
   width: 100%;
   background-color: #ececec;
   font-family: 'Proxima Nova', sans-serif;
   color: #2b2929;
   font-size: 20px;
   font-family: "Proxima Nova", sans-serif;
   font-weight: 400;
}

.wrapper {}

.header {
   width: 100%;
   background-color: rgb(248, 248, 248);
   padding: 0 40px;
   top: 0;
   z-index: 10;
}

.header__menu {
   width: 100%;
   margin: 0 auto;
   position: relative;
}

.header__button {
   text-align: center;
   padding: 20px;
}



.header__button>a {
   display: inline-block;
   position: relative;
   background-color: rgb(255, 188, 87);
   padding: 11px 20px;
   color: #fff;
   line-height: 1.26;
   /* 24px/19 */
   vertical-align: text-top;
   padding-left: 54px;
   border-radius: 8px;
}


.header__button>a:hover {
   background-color: rgb(255, 178, 61);
}

.header__button>a::before {
   content: "";
   position: absolute;
   background: url("../img/svg/catalog.svg")0 0 no-repeat;
   width: 24px;
   height: 24px;
   top: 50%;
   left: 20px;
   margin-top: -12px;
}

.header__list-body {
   display: none;
   width: 300px;
   position: absolute;
   top: 100%;
   left: 25%;
   background-color: rgb(255, 255, 255);
   font-weight: 600;
   line-height: 1.4;
   /* 28px/20 */
   border-radius: 8px 0 0 8px;
   z-index: 5;
}

.header__list-body:hover *.items {
   box-shadow: inset -5px 0 0 rgb(255, 188, 87);
}

.header__list-body:target {
   display: block;
}

/* item list */
.items {
   position: relative;
    padding: 8px 0;
}

.item {
   display: inline-block;
   text-align: center;
   width: 100%;
   transition: 0.2s;
}

.item:hover {
   background-color: rgb(255, 188, 87);
}

.item>a {
   display: inline-block;
   position: relative;
   width: 100%;
   padding: 16px 35px 16px 80px;
   vertical-align: top;
}

.item>a::after {
   content: '';
   position: absolute;
   background: url('../img/svg/arrow.svg') 0 0 no-repeat;
   height: 12px;
   width: 8px;
   right: 25px;
   top: 50%;
   margin-top: -6px;
}

.item a:hover::after {
   background: url('../img/svg/arrow-dark.svg');
}

.item>a img:last-child {
   position: absolute;
   left: 30px;
   top: 50%;
   margin-top: -20px;
}

/* sub-title */

.item:hover>.sub-items {
   display: block;
}

.sub-items>* {
   overflow: clip;
}

.sub-items {
   display: none;
   position: absolute;
   top: 0px;
   left: 100%;
   height: 616px;
   width: 300px;
   background-color: rgb(255, 255, 255);
   border-radius: 0 8px 8px 0;
   z-index: 5;
   padding-top: 8px;
   overflow-y: auto;
   vertical-align: bottom;
}

.sub-item {
   display: block;
   font-family: "Proxima Nova", sans-serif;
   font-weight: 400;
   text-align: left;
   line-height: 2;
   /* 40px/20 */
   transition: 0.2s;
   padding: 4px 20px;
}

.sub-item>a {
   display: inline-block;
   position: relative;
   width: 100%;
   vertical-align: sub;
}

.sub-item:hover {
   background-color: rgb(255, 188, 87);
}


/* .header__button>a:target + .header__list-body{
   display: block;
} */


.main {}

.containe {
   max-width: 1300px;
   padding: 40px;
   font-size: 0;
   margin: 0 auto;
   text-align: center;
}

.container__card {
   display: inline-block;
   width: 18.5%;
   max-width: 20%;
   position: relative;
   text-align: center;
   font-size: 20px;
   font-style: normal;
   font-family: "Proxima Nova", sans-serif;
   font-weight: 600;
   line-height: 1.4;
   /* 28px/20 */
   border-radius: 8px;
   transition: 0.5s;
   box-shadow: 2px 2px 5px gray;
   background-color: hsla(0, 0%, 100%, 0.235);
   margin: 0 5px 20px;
   z-index: 5;
   overflow: clip;
}

.container__card:hover {
   background: rgb(255, 255, 255);
   box-shadow: 3px 3px 10px gray;
}

.container__link-card {
   display: block;
   position: relative;
   /* background: url('../img/ellipse.png') 50% 100% no-repeat; */
   z-index: 5;
}

.container__link-card::after {
   content: '';
   position: absolute;
   background-color: rgb(247, 247, 247);
   width: 100%;
   height: 100%;
   top: 50%;
   left: 0;
   z-index: -1;
   border-radius: 50%;
}

.container__link-card img {
   width: 100%;
   /* background: url(../img/ellipse.png) 0 100% no-repeat; */
}

.container__title {
   position: absolute;
   top: 20px;
   left: 20px;
}

.container__price {
   position: absolute;
   top: 20px;
   right: 20px;
   color: rgb(177, 177, 177);
}

.container__arrow {
   position: absolute;
   bottom: 0;
   right: 0;
}

.container__arrow::after {
   content: '';
   background: url('../img/svg/arrow2.svg')0 0 no-repeat;
   width: 50px;
   height: 50px;
   position: absolute;
   bottom: 20px;
   right: 20px;
   transition: 0.2s;
}

.container__arrow:hover::after {
   transform: rotate(45deg);
}

.footer {}
